.container {
  display: flex;
  justify-content: center;
  align-items:center; 
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #333; 
  margin-right: 10px;
  width: 300px; 
  background-color: #f8f8f8; 
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #d169bc;
  color: white;
}


 
