*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Clear Sans', sans-serif;
}
/*applies styles to all elements on the page*/
body {
    background-color: #022C69; 
    margin: 0;
    padding: 0;
}
.navbar{
    background: #01204D;
    height: 70px;
    display: flex;
    justify-content: center; /*center content horizontally*/
    align-items: center; /*center content vertitally*/
    font-size: 1.2rem;
    position: sticky; /*stays at top while scrolling*/
    top: 0;
    z-index: 1000;
}
/*applies styles to navigation bar*/

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; 
}
/*applies styles to content of navigation bar*/








.navbar__logo {
    color: #f5f5f5;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
}

.navbar__icon {
    transform: rotate(270deg); 
    font-size: 2rem; 
    margin-right: 25px; /*space between icon and logo*/

}
/*applies styles to icon*/


.fa-gem{
    margin: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__items {
    list-style: none; /*removes bullet points from list*/
    display: flex;
    gap: 20px; 
}

.navbar__item {
    height: 80px;
}
/*individual navigation item*/

.navbar__links {
    color: #fff;
    text-decoration: none;
    padding: 0 25px;  /*space between items*/
    display: flex;
    align-items: center;
    height: 100%;
    transition: color 0.3s ease;
}




.navbar__item.about {
    height: 80px;
    margin-bottom: 1px; 
}

.navbar__item.about .navbar__links {
    padding: 0 5px; 
    font-size: 1.2rem; 
    white-space: nowrap;
}






.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.navbar__links:hover {
    color: rgb(217, 217, 217);
}

.button__search {
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid white;
    outline: none;
    border-radius: 20px; /*rounded effect*/
    background: #01204D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}


.button__search i {
    margin-right: 20px; /* Add some spacing between the icon and text */
}

.button__search:hover {
    background: #022C69;
    transition: background 0.3s ease;
}







/* Mobile */
@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
     
    }


    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
        color: #fff;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg); 
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
    }
}

/* Mobile */













.codeForm{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
    
}

input[type=text] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	width: 25%;
	margin-bottom: 20px;
}      

input[type=submit] {
	font-family: Arial, sans-serif;
	color: black;
	background-color: #fc9ffc;
	padding: 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #ff8fff; 
}


.image__coco {
    width: 220px;
}
.image__container {
    position: fixed;
    top: 27%;
    left: 48.9%;
    transform: translate(-50%, -50%);
    z-index: 1000; /*the higher the upper*/
}


h1{
    color:#fff;
    font-family: 'Clear Sans', sans-serif;
    position:fixed;
    top: 46%; /* Vertically center */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    letter-spacing: 2px;
    font-weight: 700;

}

h2{
    color:#fff;
    position:fixed;
    top: 56%; /* Vertically center */
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    font-size: 1.4rem;
    text-align: center; /* To center-align the lines */
    line-height: 1.5; /* Adjust the line height for spacing */
}

h3{
    color:#fff;
    position:fixed;
    top: 66%; /* Vertically center */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
}

.button__login {
    background-color: rgb(255, 143, 255, 0.7); /*alfa=transparency*/
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position:fixed;
    top: 73%; /* Vertically center */
    left: 45%;
    transform: translate(-50%, -50%);
}

.button__signup:hover{
    background-color: rgb(219, 95, 219)
}

.button__signup {
    background-color: rgb(255, 143, 255, 0.7); /*alfa=transparency*/
    color: #fff;
    padding: 11.5px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position:fixed;
    top: 73%; /* Vertically center */
    left: 55%;
    transform: translate(-50%, -50%);
}

.button__login:hover{
    background-color: rgb(219, 95, 219)
}
